/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* min-width: 1366px; */
    overflow: hidden;
    box-sizing: border-box;
}
#tempChart{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#five{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#four{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#three{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#two{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#one{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#nowTime{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}
#rulerChart{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    position: relative;
    overflow: hidden;  
}